name           = "dev-app"
vpc_cidr_block = "10.20.0.0/16"

azs = [
  "us-east-1a",
  "us-east-1b"
]

public_subnet_cidrs = [
  "10.20.0.0/24",
  "10.20.1.0/24"
]

private_subnet_cidrs = [
  "10.20.10.0/24",
  "10.20.11.0/24"
]

allowed_ingress_cidr_blocks = [
  "10.0.0.0/8"
]

app_ingress_ports = [443]

tags = {
  Environment = "dev"
  Owner       = "platform"
}
